#projects {
  padding: 2rem 0;
}

.projects-container {
  margin: 0 15%;
  padding: 2rem;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0);
}

@media (max-width: 992px) {
  .projects-container {
    padding: 0;
    margin: 3rem 6.5rem;
  }
}

@media (max-width: 768px) {
  .projects-container {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .projects-container {
    padding: 0;
  }
}