.education-list-group {
  display: block;
  background: rgb(0, 206, 209);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: solid 8px rgb(255, 255, 255);
  margin: 4rem;
  font-size: .75rem;
}

.education-list-group-item,
.education-list-group-sub-item {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.education-list-group-item {
  margin-left: 2rem;
}

.education-list-group-sub-item {
  margin-left: 4rem;
}

.action-cursor {
  padding-top: 1.5rem;
  margin-left: 0;
  cursor: pointer;
}

@media (max-width: 992px) {
  .education-list-group {
    margin: 2rem;
  }
}