button {
  border: none;
}

.action-button {
  background-color: rgba(0, 255, 255, .03);
  outline: none;
}

a,
a:focus,
.action-button,
.action-button:focus {
  color: rgba(0, 0, 0, .75);
  position: relative;
  cursor: pointer;
}

a:after,
.action-button:after {
  display: block;
  content: '';
  border-bottom: solid 2px rgb(0, 206, 209);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:hover:after,
.action-button:hover:after {
  transform: scaleX(1);
}

a.fromRight:after,
.action-button.fromRight:after {
  transform-origin: 100% 50%;
}

a.fromLeft:after,
.action-button.fromLeft:after {
  transform-origin: 0% 50%;
}

a .title,
.action-button .title {
  display: none;
}

a:hover .title,
.action-button:hover .title {
  background-color: rgba(0, 0, 0, .8);
  border: solid 1px rgb(0, 206, 209);
  color: rgb(0, 206, 209);
  text-align: center;
  display: block;
  position: absolute;
  z-index: 999;
  right: 0px;
  border-radius: 50px;
  width: 10rem;
  padding: .5rem 0;
  margin: .4rem;
}

.hr-light,
.hr-dark {
  border-width: 1px;
}

.hr-light {
  border-color: rgba(255, 255, 255, .2);
}

.hr-dark {
  border-color: rgba(0, 0, 0, .2);
}